*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.logo, .logo img{ 
    height:100px;
   
  }

h1 {
    font-size: 30%;
    line-height: 15rem;
    font-weight: 800;
    font-family: Pacific Again;
}


h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.375rem;
    line-height: 2.5rem;
    text-align:center ;


}
h4 {
    font-size:1.875rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
    font-family: Dalgona;
    text-align:center ;

}




.titulo1{
    font-family: Freestyle Script;
    font-weight: 400;
    color: #433f44;
    font-size: 80px;
    margin-bottom: 20px;
    line-height: normal;
    text-align: right;
    height: 100px;
    width:100%;
    
    

}
.titulo2 {
    font-family: Chasy;
    color: #060107;
    font-size: 40px;
  
    text-align: center;
    height: 100px;
    width:100%;
    
    

}


.titulo3{
    font-family: Freestyle Script;
    font-weight: 200;
    color:rgb(87, 69, 69); 
    font-size: 50px;
    margin-bottom: 20px;
    line-height: centerj;
    text-align: center;
    height: 100px;
    width:100%;
    border: 2px solid white;
    background-image: url(../img/logo.png);
    
    
    
    

}

/* Titulo vida de localidad en index */
.titulo4{
    font-family: Century Gothic;
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 20px;
    line-height: normal;
    text-align: center;
    height: 100px;
    width:100%;
    font-weight: 300;
    

}

.subtitulo p{

    text-align: right;
}

.subtitulo p{
    color: #060107;
    font-size: 20px;
    text-align: right;
    height: 100px;
    width:100%;
    font-size:Century Gothic;
    font-weight: 200;
}

/* Contenedor de texto de la pagina index */
.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    
    
}

/*Recuadro de info alcaldia*/
.infocontenedor {
    padding: 1em;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: auto;
   
    
    
}



/* Portada */

header {
    width: 100%;
    height: 600px;
    background: #d81a1a;
    background: -webkit-linear-gradient(to right, hsla(0, 6%, 14%, 0.459), hsla(0, 4%, 24%, 0.664)), url(../img/portada.jpg);
    background: linear-gradient(to right, hsla(0, 6%, 14%, 0.459), hsla(0, 4%, 24%, 0.664) ), url(../img/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.servicio-ind p{
    color:whitesmoke;
}

nav{
  width: 100%;
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
}
nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

.contenedor-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width:1200px;
    height:inherit;
    overflow: hidden;
    font-family: Calibri;
    
}

nav .barra a{
    display: inline-block;
    padding: 10px 0;
    margin-right: 17px;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: white;
  }
  /*al hacer click texto barra inicial*/
  nav .barra a:hover{
    border-bottom: 2px solid #fbfdfd;
    transition: 0.6s;
  }

header .textos-header{
    display: flex;
    height:500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

/*titulo principal*/
.textos-header h1{
    font-size: 150px;
    color:#fff;
}

.textos-header h2{
    font-size: 20px;
    font-weight: 300;
    color: white;
}

.wave{ 
    position: absolute;
    bottom: 0;
    width: 100%;
    
    
}


.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;

}

.imagen-about-us{
    width: 55%;
}

.sobre-nosotros .contenido-textos{
    width: 80%;
    height: 20%;

}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #1c30df;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    
}

/* Galeria */

.portafolio{
    background-image: url(../img/fondo.jpg);

    
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(103, 109, 102, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 100px;
    
}

.hover-galeria p{
    color: rgb(255, 255, 255);
    
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/***/

/* Tarjetas de info */

.cards{
    display: flex;
    justify-content: space-evenly;

}

.cards .card{
    background: #5e5252;
    display: flex;
    width: 50%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

/* Titulo en las tarjetas*/
.contenido-texto-card h4{
    font-size: 25px;
    font-family: Lato Black;
    font-weight: 200;

   
}
/* Texto en las tarjetas*/
.contenido-texto-card p{
    font-size: 15px;
    font-weight: 200;
    text-align: center;

   
}

/*fondo seccion vida localidad*/
.about-services{
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
    background: -webkit-linear-gradient(to right, hsla(0, 6%, 14%, 0.459), hsla(0, 4%, 24%, 0.664)), url(../img/fondoo.jpg);
    background: linear-gradient(to right, hsla(0, 6%, 14%, 0.459), hsla(0, 4%, 24%, 0.664) ), url(../img/fondoo.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* Seccion de informacion */
footer{
    background: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
    background: -webkit-linear-gradient(to right, hsla(0, 6%, 14%, 0.459), hsla(0, 4%, 24%, 0.664));
    background: linear-gradient(to right, hsla(0, 6%, 14%, 0.459), hsla(0, 4%, 24%, 0.664) );
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 6px solid #504c4c;
    padding-bottom: 6px;
    margin-bottom: 10px;
}

.content-foo h2{
    color: #fff;
    border-bottom: 6px solid #585454;
    padding-bottom: 6px;
    margin-bottom: 10px;
}

.content-foo p{
    color: rgb(0, 0, 0);
    
}
.content-foo h4{
    color: rgb(236, 230, 230);
    font-family:Freestyle Script;
    font-size: 40px;
    
}


.titulo-final{
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
    color: whitesmoke;
    font-family: 'Segoe UI';
   
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
        
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Notas */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: rgb(86, 71, 153);
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 10px;

    }
}
