* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'open sans';
    background: var(--fondo);
  }
  

  
  
  /* Header */
  header{
    width: 100%;
    height:600px;
    background: linear-gradient(to bottom,
    rgba(43, 38, 32, 0.6),
    rgba(57, 65, 62, 0.6),
    rgba(99, 105, 107, 0.45)
    ), url(img2/fondo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  /*division del titulo*/
  nav{
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
  }
  
  /*barra inicial*/
  .contenedor-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width:1200px;
    height:inherit;
    overflow: hidden;
    font-family: Calibri;
    
  }
  /*texto barra inicial*/
  nav .enlaces a{
    display: inline-block;
    padding: 10px 0;
    margin-right: 17px;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: white;
  }
  /*al hacer click texto barra inicial*/
  nav .enlaces a:hover{
    border-bottom: 2px solid #fbfdfd;
    transition: 0.6s;
  }
  
  /*logo Bogotá*/
  .logo, .logo img{ 
    height:100px;
   
  }
  
  .textos{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:#fff;
    overflow: hidden;
    text-align: center;
  }
   /*titulo sitios*/
  .textos>h1{
    font-size: 100px;
    font-family:Dalgona;
  }
  
  /*subtitulo localidad*/
  .textos>h2{
    font-size: 30px;
    font-weight: 200;
    font-family: Century Gothic;
  }
  
  
  /*seccion del visor*/
  #cesiumViewer{
    height: 600px;
    width: 1000px;
    border: 10px solid black;
    display:block;
    margin:auto;
  
  }
  .about-services{
    background-image: url(img/fondo.jpg);
  
  }
  .contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
  }
  
  /* titulo mapa*/
  .titulomapa{
    font-family:Lato Black;
    font-weight: 500;
    color: #0e0101;
    font-size: 50px;
    margin: 1em auto 0em;
    line-height: normal;
    text-align: center;
    height: 100px;
    width:100%;
    font-weight: 300;
  
  
  }
  
  .servicio-ind p{
    color:whitesmoke;
  }
  
  /*division visor*/
  .servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  /*division visor*/
  .servicio-ind{
    width: 28%;
    text-align: center;
  }
  /*imagen arriba del visor*/
  .contenedor img{
    width: 800px;
    height: 500px;
    display:block;
    margin:auto;
    
  }
  .cifras{
    width: 80px;
    height: 100px;
    margin: 1em;
    
  }
  
  .servicio-ind h3{
    margin: 10px 0;
  }
  
  .servicio-ind p{
    font-weight: 300;
    text-align: justify;
  }
  /**/
  
  /*textos introductorio sitios*/
  
  .text-sitios h3{
  
    font-family: Lato Black;
    font-weight: 800;
    color: rosybrown;
    font-size: 50px;
    margin: 1em auto 10px; 
    line-height: normal;
    text-align: left;
    height: 100px;
    width:100%;
  }


  
  .text-sitios p{
  
    font-family:Century Gothic;
    font-weight: 200;
    color: #0e0101;
    font-size: 20px;
    margin: 1em;
  }

  

  
  /* Seccion de informacion */
  footer{
    background: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
    background: -webkit-linear-gradient(to right, hsla(0, 6%, 14%, 0.459), hsla(0, 4%, 24%, 0.664));
    background: linear-gradient(to right, hsla(0, 6%, 14%, 0.459), hsla(0, 4%, 24%, 0.664) );
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
  }
  
  .contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
  }
  
  .content-foo{
    text-align: center;
  }
  
  .content-foo h4{
    color: #fff;
    border-bottom: 6px solid #504c4c;
    padding-bottom: 6px;
    margin-bottom: 10px;
  }
  
  .content-foo h2{
    color: #fff;
    border-bottom: 6px solid #585454;
    padding-bottom: 6px;
    margin-bottom: 10px;
  }
  
  .content-foo p{
    color: rgb(0, 0, 0);
    
  }
  .content-foo h4{
    color: rgb(236, 230, 230);
    font-family:Freestyle Script;
    font-size: 40px;
    
  }
  
  
  .titulo-final{
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
    color: whitesmoke;
    font-family: 'Segoe UI';
   
  }
  
  /**/

  .divformu{
    background-color: rgb(250, 250, 255);
    width: 100%;
    height:600px;
    background: linear-gradient(to bottom,
    rgba(43, 38, 32, 0.6),
    rgba(57, 65, 62, 0.6),
    rgba(99, 105, 107, 0.45)
    ), url(img2/fondo1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

  }


  /* cifras*/

  .divcifras{
    background-color: rgb(250, 250, 255);
    width: 100%;
    height:600px;
    background: linear-gradient(to bottom,
    rgba(43, 38, 32, 0.6),
    rgba(57, 65, 62, 0.6),
    rgba(99, 105, 107, 0.45)
    ), url(img2/fond.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 60px 0;
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    height: 800px;
  }

.titulocifras{
  font-size: 40px;
  font-family:Dalgona;
  color: white;
  text-align: left;

}

.divcifras p{
  font-size: 20px;
  color: white;
  margin: auto;
 


}
.divcifras img{
  width: 250px;
  height: 350px;
  margin: 1em;
  display:block;
  margin:auto;
}


/**/
  
 /*Formulario*/
.formulario {
	font-size: 16px;
    font-family: 'Lato', sans-serif;
    max-width: 450px;
	 height: auto;
	 background-color:rgb(255, 255, 255);
	 margin: 5% auto;
   padding-bottom: 1rem;
   border: 3px solid rgb(153, 148, 148);
}

/*Barra de decoracion*/
.formu {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem #000000;
	margin-bottom: 1rem;
}

.tituloformu{
  font-weight: bold;
	color: #ffffff;
  font-size: 30px;
  font-family: Lato Black;
  margin: 1em;
}
/*Texto formulario*/
.formu h2{
	font-weight: bold;
	color: #474040;
	font-size: 18px;
}
 /*texto Registro*/
h2 span {
	color: rgb(35, 37, 142);
}
 /*Recuadro del formulario*/
.formregistro {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/*Botones de borrar y registrar*/
.boton {
	display: flex;
	justify-content: space-around;
  margin-top: 1rem;
  
}
/* Espacios*/
.input, .botonsubmit, .botonreset{
	background-color:white;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
  transition: all .5s;
  font-family: Lato Black;
}

.input:focus {
	border-bottom: solid #C8C8C8 .2rem;
}

.botonsubmit{
  width: 40%;
	border-bottom: none;
	background-color:royalblue;
  color: white;
  font-family: Lato Black;


} 
.botonreset {
	width: 40%;
	border-bottom: none;
	background-color:blueviolet;
  color: white;
  font-family: Lato Black;
}

.botonreset {
	background-color: livedrab;
}

.botonsubmit:hover {
	background-color:royalblue
}

.botonreset:hover{
	background-color: blueviolet;
}
/******/



